@{
    DolphinWeb.Models.ClientResp Model_Client = ViewBag.Client;

    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
 
    <div class="col-md-12 d-flex align-items-stretch grid-margin">
      
        <div class="row flex-grow">
            @*<div class="alert alert-danger" role="alert" style="width:100%; margin:auto">
                Change a few things up and try submitting again.

                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>*@

            @{if (!String.IsNullOrEmpty(@ViewBag.ErrorMsg))
                {
                    <div class="alert alert-danger" role="alert" style="margin:auto;width:100%;">
                        @ViewBag.ErrorMsg
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    </div>
                }
                else if (!String.IsNullOrEmpty(ViewBag.SuccessMsg))
                {
                    <div class="alert alert-success" role="alert" style="margin:auto;width:100%;">
                        @ViewBag.SuccessMsg
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    </div>
                }
            }

            <div class="col-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Roles</h4>
                        <p class="card-description">

                        </p>

                        <form class="forms-sample" method="post" action="" id="validate-form" enctype="multipart/form-data">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Title</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="ClientName" value="@((Model_Client != null) ? Model_Client.ClientName : string.Empty)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Alias</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="ClientAlias"  value="@((Model_Client != null) ? Model_Client.ClientAlias : string.Empty)" />
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Response Time</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="RespTime" required>
                                                <option value=@(Model_Client.RespTime)>@(Model_Client.RespTime)</option>
                                                @{
                                                    for (int i = 1; i < 10; i++)
                                                    {
                                                        <option value=@i> @i</option>
                                                    }
                                                }

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Resolution Time (Hour)</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="RestTime" required>
                                                <option value=@(Model_Client.RestTime)>@(Model_Client.RestTime)</option>
                                                @{
                                                    for (int i = 1; i < 48; i++)
                                                    {
                                                        <option value=@i>@i</option>
                                                    }
                                                }

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Banner</label>
                                        <div class="col-sm-9">
                                            <input type="file" name="ClientBanner" class="file-upload-default">
                                            <div class="input-group col-xs-12">
                                                <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                                                <span class="input-group-append">
                                                    <button class="file-upload-browse btn btn-info" type="button">Upload</button>
                                                </span>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" name="ClientBanner1" value="@((Model_Client != null) ? Model_Client.ClientBanner : string.Empty)" style="display: none;">
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Is Client Active</label>
                                        <div class="col-sm-4">

                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-check form-check-flat">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" Value="true" name="IsClientActive">

                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group row">

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-2">

                                        </div>
                                        <div class="col-sm-7 pull-right">
                                            <button type="submit" class="btn btn-success mr-2">Update</button>
                                            <button class="btn btn-light">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
